[package]
name = "monitor_table"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dfsql = { version = "0.9", default-features = false }
polars = { version = "0.39", features = ["lazy"] }
slotmap = "1"
math = { git = "https://github.com/Banyc/math.git", tag = "v0.0.2" }
anyhow = "1"
