[package]
name = "monitor_table"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1"
dfsql = { version = "0.12", default-features = false }
hdv = { version = "0.4", optional = true }
polars = { version = "0.43", features = ["lazy"] }
primitive = { git = "https://github.com/Banyc/primitive.git", tag = "v0.0.23" }
slotmap = "1"

[features]
default = []
